grant {
    permission java.net.SocketPermission "127.0.0.1:1234", "connect,resolve";
    permission java.net.SocketPermission "localhost:1234", "connect,resolve";
    permission java.net.SocketPermission "localhost:1024-", "connect,accept,resolve";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete";
    permission java.util.PropertyPermission "*", "read";
};

